body {
    margin: 0;
}


.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    background-color: white;

    position: fixed;
}

h1 {
    font-size: 30px;
}

.text-logo {
    line-height: 30px;
    width: 150px;
}
 nav a{
text-decoration: none;
color: black;
font-size: 30px;
}

.nav-div-a{ 
display: flex;
gap: 50px   ;
}
.til {
display: flex;
gap: 15px;
}
.grafiti {
display: flex;
gap: 50px;
}
.logo-div{
display: flex;
gap: 50px;


}

.main-div{
    font-family: Arial,sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTygwUK3vlOe3Gf3W5sP7ArVbHT7o7wwWUEYw&s);
    background-size: cover;
}

.main-div h1 {
    margin-top: 0;
    font-size: 55px;
    color: white;
    width: 70%;
    padding-top: 250px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.main-div-btns{
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
}

.main-div-btns a{
    background-color: navy;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 30px;
    width: 30%;
    border-radius: 10px;
}


.prosto {
    text-align: right;
}

.prosto p {
    margin-right: 150px;
    color: white;
    font-size: 25px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

.social-part {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}

.social-btns {
    display: flex;
    background-color: navy;
    width: max-content;
    padding: 20px;
    border-radius: 60px;
    gap: 20px 40px;
}


.social-ramka {
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    transition: 0.4s ease;
}


.social-ramka:hover {
    border-radius: 10px;
    transition: 0.4s ease;
    background-color: rgba(70, 50, 255, 1.0);
}


.social-metka {
    display: flex;
    margin: 30px;
    font-size: 100px;
    gap: 30px;
}

.social-metka img {
    width: 700px;
}


.banner-block {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;

}


.banner {
    text-align: center;
    border: 2px solid navy;
    border-radius: 20px;
    padding: 30px;
}

.banners-for-grid {
  display: grid;  
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
 
}

.banners-for-grid div {
    height: 300px;
    border-radius: 30px;
}

.banners-for-grid h2 {
 background-color: rgba(0, 0, 0, 0.5);
 text-align: center;
 width: 100%;
 height: 100%;
 margin-top: 000;
 border-radius: 30px;
display: flex;
align-items: center ;
justify-content:center ;
color: white;
font-weight: bold;
font-size: 30px;

}

.banner-block-1 {
    background-color: rgb(250, 245, 255);
}

.banner-1 {
background-image: url('https://times-school.uz/img/s1.jpg');

}


.banner-2 {
background-image: url('https://times-school.uz/img/s2.jpg');

}
.banner-3 {
    background-image: url('https://times-school.uz/img/s3.jpg');
}

.banner-4 {
    background-image: url('https://times-school.uz/img/s4.jpg');
}

.banner-5 {
    background-image: url('https://times-school.uz/img/s5.jpg');
}

.banner-6 {
    background-image: url(https://times-school.uz/img/s6.jpg);

}


.block-btn {
    background-color: navy;
     border-radius: 15px;
     padding: 25px;
     text-align: center;
     text-decoration: none;
     color: white;
     font-size: 30px;
}
 
.Team-Banner {
    height: 500px;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    gap: 50px;
    border: 2px solid navy;
}
.Team-Banner img {
   height:90%;
   margin: 30px;
   margin-left: 100px;
}
.Team-Banner h1 {
    font-size: 55px;
    width: 30%;
}

.Team-Info  div{
    width: 10rem;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.banner-block-2 h1  {
    text-align: center;
    color: navy;
    font-size: 40px;
}

.banner-15 {
      font-size: 30px;  
      text-align: center;
      margin-left: 150px;
      margin-right: 150px;
}

.ta-h1 {
     text-align: center;
     color: navy;

}

.Team-Guys {
     font-size: 50px;
     width: 40%;
     margin-top: 50px;
     margin: 50px;
}

.Team-Guys h1 {
    width: 50%;
    font-size: 50px;
}

.Team-Guys p {
    font-size: 50px;
}

.Team-Aqua-div{
display: flex;
gap: 25px;
font-size: 50px;
color:white;
background: navy;
border-radius: 45px;
}

.Team-Aqua-div img {
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20px;
}

.Team-Guys-2 {
   display: flex;
   align-items: center; 
} 

.Team-Aqua {
    margin-left: 30px ;
    margin-right: 30px ;

}
.Team-Guys-3 {
    text-align: left;

}
.Team-Guys-4 {
    display: flex;
    gap: 0;
    justify-content: space-around;
    margin: 0;

}


.twisted {
  writing-mode: vertical-rl; /* Makes text vertical, right-to-left */
  transform: rotate(0deg); /* Flips text to read from bottom to top */
  background-color: darkred;
  color: white;
  font-weight: bold;
  padding: 20px 10px;
  font-size: 24px;
  font-family: sans-serif;
  text-align: right;



}

iframe {
    margin: 0;
}

.flexbox div {
    width: 25%;
}


.flexbox {
    display: flex;
    background-color: navy;
    color: rgb(240, 240, 240);
    justify-content: space-between;
    padding-top: 50px;
}


.Team-Info {
    background-color: white;
}
.tg-4-info h1 {
    color: navy;
}

.tg-4-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    font-size: 25px;
}

.tg-4-info div h1 {
    text-align: center;
}

.location {
    display: flex;
    justify-content: space-between;
}
.kvaratskhelia {
    text-align: center;
    color: navy;
}